global !p
def dayheader():
	import datetime
	return datetime.datetime.strptime(snip.fn.split('.')[0], '%Y-%m-%d').strftime('%F')
endglobal
snippet day
= `!p snip.rv = dayheader()` =

== Appointments ==

	- 

== Checklist ==

	- [ ] 
endsnippet
