global !p
def dayheader():
	import datetime
	return datetime.datetime.strptime(snip.fn.split('.')[0], '%Y-%m-%d').strftime('%F')
endglobal
snippet day
# `!p snip.rv = dayheader()`

## Goals

	* [ ] Log hours
	* [ ] Read at 9pm
	* [ ] Wake up at 8am
	* [ ] No snacks
	* [ ] No unnecessary purchases
endsnippet
snippet retro
## Retro

	* Goals:
		* Diary: /7
		* Read at 9pm: /7
		* Wake up at 8am: /7
		* No snacks: /7
		* No unnecessary purchases: /7
		* Weight: lbs
		* [ ] Check budget
endsnippet
