[Unit]
Description=cVim Server
After=network.target

[Service]
User=roger
Type=simple
Environment=Display=:0
ExecStart=/usr/local/bin/cvim_server.py

[Install]
WantedBy=user@.service
